/* App */
body{
  width:1000px;
}
.Main{
  position: fixed;
  background-image: url("/public/maindesign4.gif");
  width: 1480px;
  height:1300px;
  top: -100px;
  margin-left: -12px;
  margin-bottom: 0px;
  background-size: 102.5%;
  background-repeat: no-repeat;
}


/* Main */
.sound img{
  position:relative;
  top:430px;
  left:1230px;
  width: 60px;
  height: 60px;
  color:rgb(208, 213, 216)
}

.Main h2{
  position: relative;
  color:white;
  width: 452px;
  height: 82px;
  top: 370px;
  left: 898px;
  font-size: 40px;
  font-weight: lighter;
}

.Main h1{
  position: relative;
  color:white;
  font-size: 147.42px;
  font-weight: 500;
  line-height: 77.25px;
  top: 250px;
  left:990px;
}

.sound img {
  margin: 15px;
}

.text1 {
  line-height: 50%;
}

.text2 {
  text-align: center;
  line-height: 50%;
  margin-bottom: 50px;
  color: rgb(179, 162, 175);
}

.text3 {
  text-align: center;
  line-height: 10%;
  font-size: small;
  color: rgb(179, 162, 175);
  margin-right: 20px;
  margin-bottom: 50px;
}

.mainButton {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 80px;
}

.mainButton button {
  background-color: #D6FF32;
  border:#D6FF32;
  border-radius: 15px;
  padding: 15px 40px;

  font-size: medium;
  color: black;
  font-weight: bold;

  position: relative;
  left: 473px;
  top: 140px;
}

.mainButton button:hover{
  background-color: #d6ff328f;
}

.text3 h4{
  position: relative;
  text-align: center;
  font-size: small;
  color: rgb(179, 162, 175);
  top:250px;
  left:137px;
}

/*mobile*/
@media (max-width:698px) {
.Main{
  position: fixed;
  width: 445px;
  height: 1000px;
  top:-7px;
  background-image: url("/public/mobile.gif");
}

body{
  height: 40px!important;
  width: 370px !important;
}

.Main h1{
  position: absolute;
  font-size: 55px;
  left:140px;
  top:140px;
  margin-right: 20px;
}
.Main h2{
  position: absolute;
  font-size: 25px;
  left:110px;
  top:130px;
}
.sound img{
  position: relative;
  width: 28px;
  height: 30px;
  top:200px;
  left:270px;
}
.text3 {
  display: flex;
}

.text3 .h4-1 {
  position: fixed;
  font-size: 8px;
  left: 87px;
  top: 595px;
  color: aliceblue;
}

.text3 .h4-2 {
  position: fixed;
  font-size: 8px;
  left: 87px;
  top: 607px;
  color: aliceblue;
}


.mainButton{
  position: fixed;
  height:80px;
  left:-410px;
  top:320px;
}

.mainButton button{
  font-size: small;
  padding:10px 100px 10px 100px;
}

}