/* App */
body{
    width:1000px;
  }
  .Main{
    position: fixed;
    background-image: url("/public/maindesign2.gif");
    width: 1480px;
    height:1300px;
    top: -100px;
    margin-left: -12px;
    margin-bottom: 0px;
    background-size: 102.5%;
    background-repeat: no-repeat;
  }
  
  
  /* Main */
  .sound img{
    position:relative;
    top:450px;
    left:1230px;
    width: 60px;
    height: 60px;
  
  
  }
  
  .Main h2{
    position: relative;
    color:white;
    width: 452px;
    height: 82px;
    top: 390px;
    left: 898px;
    font-size: 40px;
    font-weight: lighter;
  }
  
  .Main h1{
    position: relative;
    color:white;
    font-size: 147.42px;
    font-weight: 500;
    line-height: 77.25px;
    top: 270px;
    left:990px;
  }
  
  .sound img {
    margin: 15px;
  }
  
  .text1 {
    line-height: 50%;
  }
  
  .text2 {
    text-align: center;
    line-height: 50%;
    margin-bottom: 50px;
    color: rgb(179, 162, 175);
    
  }
  
  .text3 {
    text-align: center;
    line-height: 10%;
    font-size: small;
    color: rgb(179, 162, 175);
    margin-bottom: 50px;
  }
  
  .mainButton {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .mainButton button {
  
    background-color: #D6FF32;
    border:#D6FF32;
    border-radius: 15px;
    padding: 10px 40px;
  
    font-size: medium;
    color: black;
    font-weight: bold;
  
    position: relative;
    left: 473px;
    top: 140px;
  }
  
  .mainButton button:hover{
    background-color: #d6ff328f;
  }
  
  .text3 h4{
    position: relative;
    text-align: center;
    font-size: small;
    color: rgb(179, 162, 175);
    top:250px;
    left:137px;
  }
  
  