.SecondBtn {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .SecondBtn button {
    position: relative;
    top:-30px;
    left: -38px;
    background-color:#D6FF32;
    padding: 10px 40px;
    font-size: medium;
    color: black;
    border-radius: 15px;
    font-weight: bold;
  }

  .SecondBtn button:hover {
    background-color: rgb(100, 92, 92);
  }


/*mobile*/
@media (max-width: 698px) {
  .SecondBtn button{
    position: absolute;
    top: 1860px;
    left: 160px;
    margin-top: 40px;
    margin-bottom: 20px;
   }
}