.body{
    position: relative;
    background-color:rgb(59, 30, 98);
    width:147%;
    height: 2300px;
    text-align: center;
    align-items: center;
    justify-content: center;  
    top:0px;
}

.Top{
    margin-bottom: 50px;
    color:white;
   
}

.Top h2{
    font-weight: 700;
    font-size: 43.903px;
    line-height: 52px;
 
}

.Top h3{
    color:#D6FF32;
    font-size: 25px;
    font-weight: 700;
}

.Top span,.graph span{
    color:#D6FF32;
}

/*추천 가수*/
.singer table{
    position: relative;
    text-align: center;
    margin-left: 220px;
    background-color: #d8d8d884;
    border-radius: 20px;
    opacity: 0.2px;
    height: 300px;
    width: 1050px;
}

.singer img{
    width:140px;
    margin-left: 35px;
    margin-right: 20px;
}

.singer td{
    color: white;
    font-weight: 500;
   font-size: 20px;
}

.singer td span{
    color:#D6FF32;
    font-weight: 700;
    font-size: 20px;
 }

/*추천곡 모음*/
.ques {
    margin-top: 40px;
    text-align: center;
    color: white;
}

.ques h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
}

.ques h3{
    font-size: 18px;
    margin-bottom: 10px;
    color:#D6FF32
}

.musictable table{
    display: inline;
    width:500px;
    left:1000px;
    top:20px;
}

.musictable hr {
    border-color:#D6FF32 ;
    width: 800px;
}

.musictable td{
display: flex;
text-align: center;
align-items: center;
color:white;
font-weight: 400;
font-size: 20px;
text-align: left;
}

.musictable #song span{
    color:#D6FF32;
    font-size: 16px;
}

 .musictable table #albumcover{
    width: 100px;
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.musictable #prohibit1{
  position: relative;
  width: 20px;
  top:-13px;
  left:14px;
}

.musictable #prohibit2{
    position: relative;
    width: 20px;
    top:-14px;
    left:-48px;
  }

  .musictable #prohibit3{
    position: relative;
    width: 20px;
    top:-14px;
    left:-50px;
  }

/*플레이 버튼*/
.musictable .play{
    position: absolute;
    font-size: 15px;
    margin-left:680px;
    color:#D6FF32;
    align-items: center; 
}

.musictable .play span{
    display:flex;
    position: relative;
    margin-left: 12px;
}

.musictable .play img{
    display: inline;
    width: 50px;
    background-color: black;
    border-radius: 180px;
} 


/*결과 그래프*/
.graph {
    font-family: Pretendard;
    font-size: 30px;
    font-weight: 700;
    color:white;
    margin-top: 60px;
    margin-bottom: 30px;
}

.Stack {
    margin-left: 50px;
    margin-right: 50px;
}

.caution {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
    margin-top: 100px;
}

.Sub { 
    margin-left: 50px;
}

.Sub button {
    background-color: rgb(217, 220, 232);
    border-radius: 5px;
    margin-left: 10px;
}

.music {
    background-color: white;
}

/* 말풍선 */
#menu { 
    width: 200px;
    margin: 100px auto;
    background: #f3f3f3;
    border: 1px solid #d8d8d8;
    text-align: center;
  }