.firstPage{
  position: relative;
  background-attachment: fixed;
  background-image: url("/public/maindesign4.gif");
  width: 1479px;
  height:1950px;
  margin-left: -12px;
  margin-bottom: -100px;
  padding-top: 90px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 두 번째 페이지 체크박스 */
  .num2 {
    border-radius: 10px;
    border: 3px solid #D6FF32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:1200px;
    height: 20vh; 
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 200px;
    font-size: 20px;
  }

  .num2 span{
    display: fixed;
    color:white;
    font-size: 60px;
    top:110px;
  }


  .num2 h3 {
    position: relative;
    top:63px;
    color: #D6FF32; 
    margin-bottom: 70px;
}
  
  /* 다음으로 넘어가는 버튼 */
  .linkBox {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
  }
  .linkBox button {
    margin-right: 70px;
    background-color:#D6FF32;
    padding: 10px 40px;
    border-radius: 15px;
    font-size: medium;
    color: black;
  }
  

/* Progress 바 */

.progress {
  margin-left: 80px;
  margin-right: 80px;
}