.nextPage {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .nextPage button {
    margin-right: 10px;
    margin-left: 10px;
    background-color:#D6FF32;
    padding: 10px 40px;
    font-size: medium;
    color: black;
    border-radius: 15px;
    font-weight: bold;
  }

  .nextPage button:hover {
    background-color: rgb(100, 92, 92);
  }


/*mobile*/
@media (max-width: 698px) {
  .nextPage button{
    position: absolute;
    top: 1860px;
    left: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
   }
}